In [64]:
import pandas as pd
import numpy as np

In [7]:
data=pd.read_csv('creditcard.csv')

In [8]:
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [77]:
data.shape

(284807, 31)

In [9]:
data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

#chechking the number of ,misssing values

In [11]:
 data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

#distribution of legit tansacyion and fraudlent transaction

In [14]:
data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

The data set is highly unblaced
0--> normal transaction
1-->fraudlent transaction

In [15]:
#separating the data for analysis
legit=data[data.Class == 0]
fraud=data[data.Class == 1]

In [16]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [18]:
#satistical measures of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [19]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [21]:
#compare the values for both transaction
data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Under-Sampling

#Build a sample dataset containing similar distribituion of normal transaction and fraud transaction 
#number of fraud transactioin -> 492

In [23]:
legit_sample = legit.sample(n=492)

In [26]:
legit_sample.shape

(492, 31)

Concatenating two Dataframes

In [35]:
new_data=pd.concat((legit_sample, fraud), axis=0)

In [36]:
new_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
116632,74367.0,-1.185307,1.685250,0.641055,1.176437,-0.466738,-0.315511,-0.221506,0.966763,-0.742329,...,-0.067117,-0.365220,-0.035661,0.214148,-0.195309,-0.513899,-0.207282,0.026788,4.55,0
170015,119973.0,1.865122,-0.767452,-1.706667,-0.110571,0.308283,0.352179,-0.123084,0.114156,1.103129,...,-0.134259,-0.503901,0.041179,-0.379331,-0.042484,-0.079607,-0.061327,-0.054487,112.18,0
186243,127013.0,-0.203674,1.233464,-1.024121,-0.639505,0.990695,-0.462640,0.620827,0.352238,-0.255655,...,-0.319294,-0.896018,0.090143,-0.065231,-0.310228,0.155135,0.101605,0.008641,9.99,0
79988,58282.0,-1.072286,0.729414,1.173301,0.364453,-0.801035,-0.058262,0.622237,0.489252,-0.162221,...,0.153560,0.477506,0.243845,0.462607,-0.158853,0.368658,0.207290,0.149174,139.00,0
54772,46609.0,1.178414,0.449444,-0.397291,0.723816,0.129587,-0.752244,0.166087,0.000103,-0.316443,...,-0.054475,-0.142294,-0.027378,0.115633,0.414413,0.370984,-0.026228,0.023420,0.76,0

In [37]:
new_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [40]:
new_data['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [41]:
new_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,95040.286585,-0.209894,0.007123,-0.087838,0.008335,0.016875,-0.020505,-0.024505,0.054425,0.037916,...,-0.071320,-0.014113,-0.003682,-0.058468,0.01929,-0.035499,0.025821,-0.017358,-0.002824,87.622500
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.10513,0.041449,0.051648,0.170575,0.075667,122.211321

Spliting data in feature and target

In [42]:
X=new_data.drop(columns='Class',axis=1)
Y=new_data['Class']

In [44]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
116632   74367.0 -1.185307  1.685250  0.641055  1.176437 -0.466738 -0.315511
170015  119973.0  1.865122 -0.767452 -1.706667 -0.110571  0.308283  0.352179
186243  127013.0 -0.203674  1.233464 -1.024121 -0.639505  0.990695 -0.462640
79988    58282.0 -1.072286  0.729414  1.173301  0.364453 -0.801035 -0.058262
54772    46609.0  1.178414  0.449444 -0.397291  0.723816  0.129587 -0.752244
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
116632 -0.221506  0.966763 -0.742329  ... -0.222629 -0.067117 -0.365220
170015 -0.123084  0.114156  1.103129  ... -0.051611 -0.134259 -0.503901
186243  0.620827  0.352238 -0.255655  ... -0.014488 -0.319294 -0.896018
79988   0.622237  0.489252 -0.162221  ...  0.233641  0.153560  0.477506
54772   0.166087  0.000103 -0.316443  ... -0.155304 -0.054475 -0.142294
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
116632 -0.035661  0.214148 -0.195309 -0.513899 -0.207282  0.026788    4.55
170015  0.041179 -0.379331 -0.042484 -0.079607 -0.061327 -0.054487  112.18
186243  0.090143 -0.065231 -0.310228  0.155135  0.101605  0.008641    9.99
79988   0.243845  0.462607 -0.158853  0.368658  0.207290  0.149174  139.00
54772  -0.027378  0.115633  0.414413  0.370984 -0.026228  0.023420    0.76
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [45]:
print(Y)

116632    0
170015    0
186243    0
79988     0
54772     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

split the data into training data and testing data

In [47]:
from sklearn.model_selection import train_test_split

In [52]:
xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=.2,stratify=Y,random_state=12)

In [53]:
print(X.shape,xtrain.shape,xtest.shape)

(984, 30) (787, 30) (197, 30)

In [54]:
from sklearn.linear_model import LogisticRegression

In [58]:
model=LogisticRegression()

In [59]:
model.fit(xtrain,ytrain)

LogisticRegression()

In [57]:
modelLogis.score(xtest,ytest)

0.934010152284264

In [66]:
from sklearn.metrics import accuracy_score
xtrain_prediction = model.predict(xtrain)
training_data_accuracy= accuracy_score(xtrain_prediction,ytrain)

In [68]:
print('Accuracy on trainig data :', training_data_accuracy)

Accuracy on trainig data : 0.9034307496823379

In [69]:
xtest_prediction = model.predict(xtest)
test_data_accuracy= accuracy_score(xtest_prediction,ytest)

In [70]:
print('Accuracy on test data :', test_data_accuracy)

Accuracy on test data : 0.934010152284264

In [71]:
modelLogis.score(xtrain,ytrain)

0.9034307496823379

In [73]:
data.columns

Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
       'Class'],
      dtype='object')

In [75]:
model.predict(pd.DataFrame([['0','1.191857111','0.266150712','0.166480113','0.448154078','0.060017649','-0.082360809',
                             '-0.078802983','0.085101655','-0.255425128','-0.166974414','1.612726661','1.065235311',
                             '0.489095016','-0.143772296','0.635558093','0.463917041','-0.114804663','-0.18336127',
                             '-0.145783041','-0.069083135','-0.225775248','-0.638671953','0.101288021','-0.339846476',
                             '0.167170404', '0.125894532', '-0.008983099', '0.014724169', '2.69']]
                          ,columns=['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount']))

array([0], dtype=int64)

In [76]:
model.predict(pd.DataFrame([['139951', '-2.921944376', '-0.228062381', '-5.877288646', '2.201883522', '-1.935439873', 
                            '0.631140872', '-1.245106342', '1.51134802', '-1.899986657', '-6.42823083', '4.229154264',
                             '-5.292314146', '-0.888086759', '-7.672250312', '0.547571032', '-4.307059802', '-5.701174364', 
                             '-1.772802937', '-0.193132206', '2.230734872', '1.441622275', '0.895527949', '1.385511128', 
                             '-2.028024229', '0.509130972', '0.172642921', '0.726781012', '0.234513922', '723.21']]
                          ,columns=['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount']))

array([1], dtype=int64)